# SPDX-FileCopyrightText: 2021 Fraunhofer-Gesellschaft zur Förderung der angewandten Forschung e.V.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception
BasedOnStyle: Google
CommentPragmas: '^ SPDX-*|^ Copyright'
