# SPDX-FileCopyrightText: 2022 Fraunhofer-Gesellschaft zur Förderung der angewandten Forschung e.V.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

# Build artifacts
build/
build-*

# Python Virtual Environments
venv-iree-*/

# Visual Studio Code files
.vscode/
*.code-workspace
