# SPDX-FileCopyrightText: 2022 The IREE bare-metal Arm Authors
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

# Build artifacts
build/
build-*

# Python Virtual Environments
venv-iree-*/

# Visual Studio Code files
.vscode/
*.code-workspace
