[submodule "third_party/iree"]
	path = third_party/iree
	url = https://github.com/google/iree.git
[submodule "third_party/libopencm3"]
	path = third_party/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "third_party/cmsis_device_f4"]
	path = third_party/cmsis_device_f4
	url = https://github.com/STMicroelectronics/cmsis_device_f4.git
[submodule "third_party/CMSIS_5"]
	path = third_party/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "third_party/cmsis_device_f7"]
	path = third_party/cmsis_device_f7
	url = https://github.com/STMicroelectronics/cmsis_device_f7.git
[submodule "third_party/cmsis_device_h7"]
	path = third_party/cmsis_device_h7
	url = https://github.com/STMicroelectronics/cmsis_device_h7.git
[submodule "third_party/ethos-u-core-platform"]
	path = third_party/ethos-u-core-platform
	url = https://git.mlplatform.org/ml/ethos-u/ethos-u-core-platform.git
