[submodule "third_party/iree"]
	path = third_party/iree
	url = https://github.com/google/iree.git
[submodule "third_party/libopencm3"]
	path = third_party/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
