# SPDX-FileCopyrightText: 2022 The IREE bare-metal Arm Authors
# SPDX-License-Identifier: CC0-1.0
-f https://iree.dev/pip-release-links.html
iree-tools-tf==20240917.1019
iree-tools-tflite==20240917.1019
